<header class="header-func">
    <h1><em class="borda fa fa-id-card" arial-hidden="true"></em><span>Gerenciamento de Senhas</span></h1>
</header>
<div id="relatorios">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Filtrar por</legend>

        <div class="row">
            <div class="col-lg-5 col-md-3 col-sm-12">
                <label class="col-md-12 nopadding-side">url do site</label>
                <div class="col-md-10 nopadding-side">
                    <input class="form-control nopadding input-sm" type="text" maxlength="80" [(ngModel)]="filtro.url"/>
                </div>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-12">
                <label class="col-md-12 nopadding-side">usuário/e-mail</label>
                <div class="col-md-10 nopadding-side">
                    <input class="form-control nopadding input-sm" type="text" maxlength="40" [(ngModel)]="filtro.usuario"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bt right">
                <button id="pesquisar" (click)="pesquisar()">Pesquisar</button>
            </div>
            <div class="bt right">
                <button id="salvar"
                        (click)="salvar(itemSelecionado)"
                        data-toggle="modal"
                        data-target="#myModalNew">
                    Novo
                </button>
            </div>
        </div>
    </fieldset>
</div>
<div class="col-md-offset-0 col-md-12" style="height: 50%;">
    <table id="extrato-transacao-antecipacao" border="1" class="reports-tables width100 table table-striped left">
        <thead>
        <tr>
            <th>Url do Site</th>
            <th>Usuário/E-mail</th>
            <th>Senha</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of (itens |  paginate: { itemsPerPage: 15, currentPage: nroPagina, id: nroPagina })">
            <td>{{item.url}}</td>
            <td>{{item.usuario}}</td>
            <td>{{item.senha}}</td>
            <td>
                <button id="detalhar"
                        style="border: none;background: none;"
                        (click)="itemSelecionado = item;"
                        data-toggle="modal"
                        data-target="#myModal">
                    <i style="font-size: 18px" class="glyphicon glyphicon-pencil"></i></button>
            </td>
            <td>
                <button id="excluir"
                        style="border: none;background: none;"
                        (click)="excluir(itemSelecionado)">
                    <i style="font-size: 18px" class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>

    <section id="detalhe-url-modal">
        <div class="modal fade" style="left: 0 !important;" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Editar:</h4>
                    </div>
                    <div class="modal-body" *ngIf="itemSelecionado">
                        <label class="label-detalhes">Url do Site: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" value={{itemSelecionado.url}} />
                        <br>
                        <label class="label-detalhes">Usuário/E-mail: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" value={{itemSelecionado.usuario}}/>
                        <br>
                        <label class="label-detalhes">Senha: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" value={{itemSelecionado.senha}}/>
                    </div>
                    <div class="modal-footer">
                        <div class="bt right">
                            <button type="button" (click)="salvar(itemSelecionado)">Salvar</button>
                        </div>
                        <div class="bt right">
                            <button type="button" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="novo-modal">
        <div class="modal fade" style="left: 0 !important;" id="myModalNew" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Editar:</h4>
                    </div>
                    <div class="modal-body" >
                        <label class="label-detalhes">Url do Site: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" item.url/>
                        <br>
                        <label class="label-detalhes">Usuário/E-mail: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" item.usuario/>
                        <br>
                        <label class="label-detalhes">Senha: </label>
                        <input class="form-control nopadding input-sm" type="text" maxlength="80" item.senha/>
                    </div>
                    <div class="modal-footer">
                        <div class="bt right">
                            <button type="button" data-dismiss="modal" (click)="salvar(item)">Salvar</button>
                        </div>
                        <div class="bt right">
                            <button type="button" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
